footer {
    background-color: #3966A0;
    height: 50px;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    align-items: center;
}

footer>a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
