
<div class="cuerpo">
  <section class="contenido-de-pagina">
      <div class="container">
          <div class="login-box">
              <h2>Bienvenido a FARO</h2>
              <form>
                  <input type="text" placeholder="Email" formControlName="email">
                  <input type="password" placeholder="Contraseña" formControlName="password">
                  <button type="submit" routerLink="/principal" class="btn-login">Iniciar sesión</button>
              </form>
              <p>¿Aun no tienes una cuenta? <a routerLink="/registro" class="btn-register">Registrate</a></p>
          </div>
      </div>
  </section>
</div>