<div>
    <button routerLink="/login">Login</button>
</div>
<div class="perfil-general">
    <div class="sec-imagen">
        <img src="assets/Faro-logo.png" alt="foto perfil" class="foto-perfil">
        <button>Editar</button>
    </div>
    <div class="panel-perfil">
        <input type="text" placeholder="Nick" >
        <input type="text" placeholder="Nombre" >
        <input type="text" placeholder="Apellidos" >
        <input type="text" placeholder="Correo" >
        <input type="text" placeholder="Telefono" >
        <button>Cambiar contraseña</button>
        <button>Editar</button>
    </div>
    <div  class="panel-perfil">
        <p>Intereses</p>
        <input type="text" placeholder="Buscar gustos">
        <div class="perfil-gustos">
            <div class="perfil-gusto">
                <p>Actividad segura</p>
                <button>X</button>
            </div>
            <div class="perfil-gusto">
                <p>Souls game</p>
                <button>X</button>
            </div>
            <div class="perfil-gusto">
                <p>Cocina</p>
                <button>X</button>
            </div>
            <div class="perfil-gusto">
                <p>La otra cocina</p>
                <button>X</button>
            </div>
            <div class="perfil-gusto">
                <p>Comer</p>
                <button>X</button>
            </div>
        </div>
    </div>
</div>