 <div class="body">
    <div class="cuerpo">
        <section class="contenido-de-pagina">
            <div class="container">
                <form class="registro-box">
                    <h2>¡Regístrate!</h2>
                    <div>
                        <input type="text" id="name" name="name" placeholder="Nombre" required>
                    </div>
                    <div>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div>
                        <input type="tel" id="phone" name="phone" placeholder="Teléfono" required>
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <div>
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Repetir Contraseña" required>
                    </div>
                    <div class="lista-gustos">
                        <p>Dinos algunos de tus hobies o intereses</p>
                        <div class="lista-gustos">
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="pesca" name="hobbies" value="Pesca">
                                <label for="pesca">Pesca</label>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="videojuegos" name="hobbies" value="videojuegos">
                                <p>Videojuegos</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="musica" name="hobbies" value="musica">
                                <p>Musica</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="deporte" name="hobbies" value="deporte">
                                <p>Deporte</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="info" name="hobbies" value="info">
                                <p>Informatica</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="fiesta" name="hobbies" value="fiesta">
                                <p>Fiesta</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="cocina" name="hobbies" value="cocina">
                                <p>Cocina</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="carpinteria" name="hobbies" value="carpinteria">
                                <p>Carpinteria</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="dibujo" name="hobbies" value="dibujo">
                                <p>Dibujo</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="disfraces" name="hobbies" value="disfraces">
                                <p>Disfraces</p>
                            </div>
                            <div class="tarjeta-gustos">
                                <input type="checkbox" id="Naturaleza" name="hobbies" value="Naturaleza">
                                <p>Naturaleza</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn-register">Registrarse</button>
                    <div class="login-link">
                        <p>¿Ya tienes cuenta? <a routerLink="/login" class="btn-login">Iniciar sesión</a></p>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>


   

