

.container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 20%;
  }
  
  .notificacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .eliminar-icon {
    cursor: pointer;
  }
  
  .titulo {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .detalle {
    font-size: 16px;
    color: #666;
  }
  
  .fecha {
    font-size: 14px;
    color: #999;
  }

  img {
    width: 24px; /* Tamaño de la imagen */
    height: 24px; /* Tamaño de la imagen */
  }