<div class="container">

    <div class="title">
        <h1>Política de Privacidad</h1>
    </div>
    <div class="content">
        <div class="paragraph">
            <p>En Faro, la privacidad de nuestros usuarios es de suma importancia para nosotros. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que usted nos proporciona a través de nuestro sitio web y servicios relacionados.</p>
        </div>

        <div class="paragraph">
            <p>Recopilamos información personal que usted nos proporciona de forma voluntaria, como su nombre, dirección de correo electrónico, número de teléfono, etc., cuando se registra en nuestro sitio, realiza una compra, participa en encuestas o promociones, o se comunica con nosotros de alguna otra manera. También recopilamos automáticamente cierta información sobre su dispositivo y su uso de nuestro sitio web a través de cookies y otras tecnologías de seguimiento.</p>
        </div>

        <div class="paragraph">
            <p>Utilizamos la información que recopilamos para brindarle nuestros servicios, procesar sus transacciones, mejorar nuestro sitio web y servicios, personalizar su experiencia, comunicarnos con usted y enviarle información relevante sobre nuestros productos y servicios. No compartimos su información personal con terceros, excepto en los casos en que sea necesario para proporcionarle nuestros servicios o cumplir con requisitos legales.</p>
        </div>

        <div class="paragraph">
            <p>Tomamos medidas razonables para proteger la seguridad de su información personal y prevenir el acceso no autorizado, el uso indebido o la divulgación de la misma. Sin embargo, tenga en cuenta que ninguna medida de seguridad es completamente infalible y que no podemos garantizar la seguridad absoluta de su información.</p>
        </div>

        <div class="paragraph">
            <p>Nuestro sitio web puede contener enlaces a sitios web de terceros que no están controlados por nosotros. No somos responsables de las prácticas de privacidad de dichos sitios web y le recomendamos que revise las políticas de privacidad de los mismos.</p>
        </div>

        <div class="paragraph">
            <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento y sin previo aviso. Le recomendamos que revise periódicamente esta página para estar al tanto de cualquier cambio. El uso continuado de nuestro sitio web y servicios constituye su aceptación de estos cambios.</p>
        </div>

        <div class="paragraph">
            <p>Si tiene alguna pregunta o inquietud sobre nuestra Política de Privacidad, no dude en contactarnos a través de <a href="mailto:info@faro.com">correo electrónico</a>, <a href="tel:123456789">número de teléfono</a>, o <a href="/contacto">formulario de contacto</a>.</p>
        </div>
    </div>
</div>
